*
    font-family: sans-serif
    margin: 0px
    padding: 0px
    background-image: url(/src/assets/react-back.jpg)
    background-size: cover
    background-attachment: fixed
    color: white

nav
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 1200px
    margin: auto
    box-shadow: 10px 10px 10px 10px black
    p
        color: #dee1ec
        padding-right: 25px
        font-size: 18px
    .left
        display: flex
        align-items: center
        .text
            color: #66ceec
            padding-left: 10px
    img
        height: 85px
        width: 90px
        margin: 10px