*
    box-sizing: border-box
    padding: 0px
    margin: 0px
    font-family: sans-serif

nav
    height: 70px
    // so image in ours nav will automatically adjust according to the height and will became a flex box
    display: flex