* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
}

.Main {
  width: 500px;
  margin: auto;
}
.Main .Button {
  cursor: pointer;
}