* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main {
  width: 500px;
  margin: auto;
  text-align: center;
  background-color: aqua;
}