*
    margin: 0px
    padding: 0px

.footer-background
    background-color: aqua
    .footer-container
        width: 1200px
        margin: auto
        h2
            text-align: center
        .footer-items
            display: flex
