.footer-background
    background-color: aqua
    height: 500px
    position: relative
    .footer-container
        width: 1200px
        margin: auto
        padding: 20px 0px
        h2
            text-align: center
        .footer-items
            margin-top: 50px
            display: flex
            justify-content: space-around

.bottom
    background-color: black
    bottom: 0px
    width: 100%
    position: absolute
    .bottom-text
        text-align: center
        color: white
        font-weight: 500