.container
    background-color: aqua
    height: 600px
    width: 1200px
    margin: 70px auto
    .list
        display: flex
        justify-content: space-between
        .items
            margin: 20px 0px
            background-color: black
            height: 250px
            width: 370px