.container
    width: 1200px
    margin: 70px auto
    .list
        display: flex
        justify-content: space-between
        align-items: center
        .items
            margin: 5px 0px
            background-color: black
            height: 300px
            width: 393px
            overflow: hidden
            position: relative
            cursor: pointer
            .img
                height: 100%
                width: 100%