.login-main
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh
    .login-setup
        height: 350px
        width: 350px
        display: flex
        align-items: center
        justify-content: center
        border: 1px solid black
        h2
            text-align: center