.login-main
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh
    .login-setup
        height: 350px
        width: 350px
        display: flex
        align-items: center
        justify-content: center
        border: 1px solid black
        h2
            text-align: center
        .user-input
            display: flex
            justify-content: center
            align-items: center
            position: relative
            margin: 30px
            &::before &::after
                content: ""
                position: absolute
                bottom: -2px
                width: 0%
                height: 2px
                background-color: #38d39f
                -webkit-transition: 400ms
                transition: 400ms
            h5
                position: absolute
                left: 30px
            .input
                height: 30px
                width: 250px
                padding: 0px 10px
                border: none
                margin: 0px 0px 0px 10px
                box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.1)
                border-bottom: 2px solid black
                &:focus
                    outline: none
        .btn
            text-align: center
            button
                font-size: 15px
                cursor: pointer
                height: 30px
                width: 150px
                border: none
                background-color: aqua