.login-main
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh
    .login-setup
        height: 350px
        width: 350px
        display: flex
        align-items: center
        justify-content: center
        border: 1px solid black
        h2
            text-align: center
        .user-input
            display: flex
            justify-content: center
            align-items: center
            h5
                transform: translateX(110%,)
        .btn
            background-color: aqua   
            text-align: center
            button
                cursor: pointer