nav
    width: 1200px
    margin: auto
    display: flex
    justify-content: center
    align-items: center
    .logo
        height: 150px
        width: 200px
    .hamburger-menu
        width: 50px
        height: 6px
        background-color: white
        border-radius: 5px
        transition: all 500ms ease-in-out
        box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2)
        &::before, &::after
            content: ""
            position: absolute
            width: 50px
            height: 6px
            background-color: white
            border-radius: 15px
            box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2)
            -webkit-transition: all 500ms ease-in-out
            transition: all 500ms ease-in-out
        &::before
            transform: translateY(-16px)
        &::after
            transform: translateY(16px)
            