.nav
    background-color: aqua
    .header
        display: flex
        justify-content: space-between
        align-items: center
        .header-section
            width: 30%
            position: relative
            color: white
        .logo
            height: 150px
            width: 200px
            margin: 0px 20px
        .ham-side-bar
            height: 100vh
            background-color: black
            box-shadow: 0px 0px 21px -5px black
            width: 350px
            position: fixed
            right: -350px
            top: 0px
            z-index: 2
            padding: 150px 70px
            transition: all 800ms cubic-bezier(1, 0, 0, 1)
            &.open
                right: 0px
            ul
                text-align: left
                .flex
                    display: flex
                    align-items: center
                    .sign
                        color: white
                        font-size: 30px
                        cursor: pointer
                        margin-bottom: 3px
                .nav-item
                    list-style: none
                    padding: 25px
                    a
                        text-decoration: none
                        color: white
                        font-weight: 300
                        text-transform: uppercase
                        letter-spacing: 3px
                        padding: 3px 0px
                        position: relative
                        font-size: 19px
                        &::before, &::after
                            content: ''
                            position: absolute
                            height: 2px
                            left: 0px
                            width: 100%
                            background-color: chocolate
                            transform: scaleX(0) 
                            transition: transform 800ms
                        &::after
                            bottom: 0px
                            transform-origin: left
                        &::before
                            top: 0px
                            transform-origin: right
                    a:hover::before,
                    a:hover::after
                        transform: scaleX(1)
            .cart-btn
                display: flex
                position: relative
                .sign
                    color: white
                    font-size: 30px
                    cursor: pointer
                    margin-bottom: 3px
                .counter
                    position: absolute
                    top: -40px
                    left: 35px
                    p
                        font-size: 28px
                        font-weight: 600
                        -webkit-text-stroke: 0.5px black
                        color: aqua
            .ham
                position: fixed
                top: 50px
                right: 50px 
                height: 40px
                width: 45px
                cursor: pointer
                display: flex
                flex-direction: column
                justify-content: space-around
                .hamburger-menu
                    z-index: 2
                    width: 50px
                    height: 6px
                    background-color: black
                    border-radius: 5px
                    transition: all 500ms ease-in-out
                    box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2)
                    &::before, &::after
                        background-color: black
                        content: ""
                        position: absolute
                        width: 50px
                        height: 6px
                        border-radius: 15px
                        box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2)
                        transition: all 500ms ease-in-out
                    &::before
                        transform: translateY(-16px)
                    &::after
                        transform: translateY(16px)
                &.open
                    .hamburger-menu
                        transform: translateX(-50px)
                        background: transparent
                        box-shadow: none
                        &::before
                            background-color: white
                            transform: rotate(45deg) translate(35px, -35px)
                        &::after
                            background-color: white
                            transform: rotate(-45deg) translate(35px, 35px)
            