.info
    background-color: aqua
    text-align: center
    width: 1200px
    margin: 70px auto
    padding: 10px
    h3
        font-weight: 500
        font-size: 25px
        letter-spacing: 3px

.cart-items
    display: flex
    justify-content: center
    height: 500px
    width: 1200px
    margin: auto
    .cart-products
        height: 200px
        width: 200px
        margin: 20px
        display: flex
        flex-direction: column
        align-items: center
        img
            height: 100%
            width: 100%
        .add-cart
            display: flex
            .num
                width: 90px
                border: 1px solid black
                text-align: center

[type=radio]
  display: none

#slider
  height: 35vw
  position: relative
  perspective: 1000px
  transform-style: preserve-3d

  label
    margin: auto
    width: 60%
    height: 100%
    border-radius: 4px
    position: absolute
    left: 0
    right: 0
    cursor: pointer
    transition: transform 0.4s ease

img
    height: 100% 
    width: 100%
    
#s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37)
  transform: translate3d(-30%, 0, -200px)

#s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2)
  transform: translate3d(-15%, 0, -100px)

#s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19)
  transform: translate3d(0, 0, 0)

#s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2)
  transform: translate3d(15%, 0, -100px)

#s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37)
  transform: translate3d(30%, 0, -200px)