.info
    background-color: aqua
    text-align: center
    width: 1200px
    margin: 70px auto
    padding: 10px
    h3
        font-weight: 500
        font-size: 25px
        letter-spacing: 3px

.cart-items
    display: flex
    justify-content: center
    height: 500px
    width: 1200px
    margin: auto
    .cart-products
        height: 200px
        width: 200px
        margin: 20px
        display: flex
        flex-direction: column
        align-items: center
        img
            height: 100%
            width: 100%
        .add-cart
            display: flex
            .num
                width: 90px
                border: 1px solid black
                text-align: center
.top-nav
    display: flex
    justify-content: space-around
    .logout
        display: flex
        justify-content: center
        align-items: center
        i
            margin: 0px 10px
        p
            cursor: pointer
.cart-nav
    width: 620px
    margin: auto
    display: flex
    justify-content: space-around
    align-items: center

ul
    list-style: none
    padding: 0px
    width: 1300px
    margin: auto
.item-list
    display: flex
    justify-content: space-around
    align-items: center
    padding: 20px
    img
        height: 200px
        width: 250px