* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

nav {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px 45px;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}
nav .nav-logo {
  height: 70px;
}

section {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section .main-img {
  height: 280px;
  width: 350px;
  max-width: 1200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
section .main-header {
  margin: 16px 0px;
}
section .main-text {
  margin-top: 0px;
}

.card {
  width: 375px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}
.card .card-img {
  width: 100%;
  height: 300px;
  border-radius: 9px;
}
.card .card-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card .card-1 .color {
  color: #918E9B;
}
.card .bold {
  font-weight: bold;
}