nav
    background-color: aqua
    display: flex
    justify-content: space-around
    align-items: center
    .cart
        padding: 0px 15px
        border: 1px solid black
        border-radius: 35%

img
    height: 200px
    width: 250px