nav
    background-color: aqua
    display: flex
    justify-content: space-around
    align-items: center
    box-shadow: 0px 10px 25px -15px rgb(0 0 0 / 20%)
    .cart
        padding: 0px 15px
        border: 1px solid black
        border-radius: 35%

.list
    width: 1200px
    margin: 50px auto
    display: flex
    justify-content: center
    align-items: center
    gap: 25px
    .items
        text-align: center
        img
            height: 200px
            width: 250px
        button
            cursor: pointer
.right
    margin: 10px auto
    width: 1350px
    display: flex
    justify-content: flex-end
    button
        padding: 10px 20px
        cursor: pointer

.cart-main
    border: 1px solid black
    border-radius: 15px
    padding: 15px
    margin: 25px 0px

.items-list
    background-color: aqua
    display: flex
    justify-content: space-around
    align-items: center
    border-radius: 9px
    height: 100px
    margin: 20px

ul
    list-style: none

button
    cursor: pointer

.items-container
    width: 1200px
    margin: auto

.cart-btn
    cursor: pointer