* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: url(/src/assets/react-back.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.container {
  max-width: 1200px;
  margin: auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: auto;
  -webkit-box-shadow: 10px 10px 10px 10px black;
          box-shadow: 10px 10px 10px 10px black;
}
nav p {
  color: #dee1ec;
  padding-right: 25px;
  font-size: 18px;
}
nav .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .left .text {
  color: #66ceec;
  padding-left: 10px;
}
nav img {
  height: 85px;
  width: 90px;
  margin: 10px;
}

Header {
  margin: 50px;
  font-size: 22px;
}

ul {
  font-size: 21px;
  margin: 50px 90px;
}
ul li {
  padding: 7px 0px;
}