nav {
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px 25px -15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 25px -15px rgba(0, 0, 0, 0.2);
}
nav .cart {
  padding: 0px 15px;
  border: 1px solid black;
  border-radius: 35%;
}

.list {
  width: 1200px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.list .items {
  text-align: center;
}
.list .items img {
  height: 200px;
  width: 250px;
}
.list .items button {
  cursor: pointer;
}

.right {
  margin: 10px auto;
  width: 1350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.right button {
  padding: 10px 20px;
  cursor: pointer;
}

.cart-main {
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
}

.items-list {
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  height: 100px;
  margin: 20px;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.items-container {
  width: 1200px;
  margin: auto;
}