.footer-background {
  background-color: aqua;
  height: 500px;
  position: relative;
}
.footer-background .footer-container {
  width: 1200px;
  margin: auto;
  padding: 20px 0px;
}
.footer-background .footer-container h2 {
  text-align: center;
}
.footer-background .footer-container .footer-items {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bottom {
  background-color: black;
  bottom: 0px;
  width: 100%;
  position: absolute;
}
.bottom .bottom-text {
  text-align: center;
  color: white;
  font-weight: 500;
}