.container {
  width: 1200px;
  margin: 70px auto;
}
.container .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container .list .items {
  margin: 20px 0px;
  background-color: black;
  height: 250px;
  width: 370px;
}