.login-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
.login-main .login-setup {
  height: 350px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
}
.login-main .login-setup h2 {
  text-align: center;
}
.login-main .login-setup .user-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 30px;
}
.login-main .login-setup .user-input h5 {
  position: absolute;
  left: 30px;
}
.login-main .login-setup .user-input .input {
  height: 30px;
  width: 250px;
  padding: 0px 10px;
  border: none;
  margin: 0px 0px 0px 10px;
  -webkit-box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.1);
}
.login-main .login-setup .user-input .input:focus {
  outline: none;
}
.login-main .login-setup .btn {
  text-align: center;
}
.login-main .login-setup .btn button {
  cursor: pointer;
}