nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: aqua;
}
nav .cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
nav .cart-btn .counter {
  position: absolute;
  top: -15px;
  right: -7px;
}
nav .cart-btn .counter p {
  color: yellow;
}
nav .logo {
  height: 150px;
  width: 200px;
  margin: 0px 20px;
}
nav i {
  font-size: 50px;
}
nav .ham {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
nav .ham .hamburger-menu {
  width: 50px;
  height: 6px;
  background-color: white;
  border-radius: 5px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
}
nav .ham .hamburger-menu::before, nav .ham .hamburger-menu::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
nav .ham .hamburger-menu::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}
nav .ham .hamburger-menu::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}
nav .ham.open .hamburger-menu {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
nav .ham.open .hamburger-menu::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}
nav .ham.open .hamburger-menu::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}