.info {
  background-color: aqua;
  text-align: center;
  width: 1200px;
  margin: 70px auto;
  padding: 10px;
}
.info h3 {
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 3px;
}

.cart-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
  width: 1200px;
  margin: auto;
}
.cart-items .cart-products {
  height: 200px;
  width: 200px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart-items .cart-products img {
  height: 100%;
  width: 100%;
}
.cart-items .cart-products .add-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cart-items .cart-products .add-cart .num {
  width: 90px;
  border: 1px solid black;
  text-align: center;
}